Flow.Json
[
    {
        "id": "e3fd32ab07607ec6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "51372ae35211a4f0",
        "type": "inject",
        "z": "e3fd32ab07607ec6",
        "name": "IOT ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Iot/IN",
        "payload": "ON",
        "payloadType": "str",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "634e65876c4d6b10"
            ]
        ]
    },
    {
        "id": "21aa3e103c54269c",
        "type": "inject",
        "z": "e3fd32ab07607ec6",
        "name": "IOT OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Iot/OUT",
        "payload": "OFF",
        "payloadType": "str",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "d8135e45919cce36"
            ]
        ]
    },
    {
        "id": "7a0e43c326488d13",
        "type": "mqtt out",
        "z": "e3fd32ab07607ec6",
        "name": "",
        "topic": "Iot/IN",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "62330e6a831d19ea",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "b5460cd04b1e2046",
        "type": "mqtt in",
        "z": "e3fd32ab07607ec6",
        "name": "",
        "topic": "Iot/IN",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "345ad163f800ed9d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "869dc844fa58cca4",
                "56357a257ee0dae0",
                "dab44af4646389ee"
            ]
        ]
    },
    {
        "id": "869dc844fa58cca4",
        "type": "debug",
        "z": "e3fd32ab07607ec6",
        "name": "Testing ON",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 500,
        "wires": []
    },
    {
        "id": "56357a257ee0dae0",
        "type": "Number",
        "z": "e3fd32ab07607ec6",
        "name": "Angka",
        "minimum": "0",
        "maximum": "10",
        "roundTo": "2",
        "Floor": true,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "425947a93bf383a8",
                "e3559f8e9380c684"
            ]
        ]
    },
    {
        "id": "dab44af4646389ee",
        "type": "ui_toast",
        "z": "e3fd32ab07607ec6",
        "position": "top right",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "HALO HALO HALO HALO",
        "name": "Notification",
        "x": 510,
        "y": 640,
        "wires": []
    },
    {
        "id": "425947a93bf383a8",
        "type": "ui_gauge",
        "z": "e3fd32ab07607ec6",
        "name": "",
        "group": "901f52963d1f5224",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Jarak",
        "label": "Meter",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "9cf3c5c164d5fb2c",
        "type": "ui_text",
        "z": "e3fd32ab07607ec6",
        "group": "901f52963d1f5224",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "e3559f8e9380c684",
        "type": "function",
        "z": "e3fd32ab07607ec6",
        "name": "function 2",
        "func": "if (msg.payload >= 3 && msg.payload <= 5) {\n    msg.payload = \"Gerakan Terdeteksi Dekat\";\n} else if (msg.payload >= 6 && msg.payload <= 10) {\n    msg.payload = \"Gerakan Terdeteksi Jauh\";\n} else if (msg.payload >= 0 && msg.payload <= 2) {\n    msg.payload = \"Gerakan Terdeteksi Sangat Dekat Jendela di tutup\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 600,
        "wires": [
            [
                "9cf3c5c164d5fb2c",
                "e2988769e7a5a4d0"
            ]
        ]
    },
    {
        "id": "e2988769e7a5a4d0",
        "type": "ui_audio",
        "z": "e3fd32ab07607ec6",
        "name": "audio",
        "group": "901f52963d1f5224",
        "voice": "Google Bahasa Indonesia",
        "always": true,
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "676144441bfadcb6",
        "type": "mqtt out",
        "z": "e3fd32ab07607ec6",
        "name": "",
        "topic": "Iot/OUT",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "62330e6a831d19ea",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "ab487c8c68380945",
        "type": "mqtt in",
        "z": "e3fd32ab07607ec6",
        "name": "",
        "topic": "Iot/OUT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "62330e6a831d19ea",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "13af3d6ec6033368",
                "436038d138b30e44"
            ]
        ]
    },
    {
        "id": "13af3d6ec6033368",
        "type": "debug",
        "z": "e3fd32ab07607ec6",
        "name": "Testin OFF",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "634e65876c4d6b10",
        "type": "function",
        "z": "e3fd32ab07607ec6",
        "name": "Kondisi ON",
        "func": "msg.payload = \"Ada Gerakan Terdeteksi\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 400,
        "wires": [
            [
                "7a0e43c326488d13"
            ]
        ]
    },
    {
        "id": "d8135e45919cce36",
        "type": "function",
        "z": "e3fd32ab07607ec6",
        "name": "Kondisi OFF",
        "func": "msg.payload = \"Iot NonAktif Tidak Dapat Mendeteksi Apapun\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 320,
        "wires": [
            [
                "676144441bfadcb6"
            ]
        ]
    },
    {
        "id": "436038d138b30e44",
        "type": "ui_toast",
        "z": "e3fd32ab07607ec6",
        "position": "dialog",
        "displayTime": "7",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notification",
        "x": 750,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0a1807c5623b3c81",
        "type": "ui_spacer",
        "z": "e3fd32ab07607ec6",
        "name": "spacer",
        "group": "7d61c278a64c6fb7",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "62330e6a831d19ea",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://broker.mqtt-dashboard.com/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "345ad163f800ed9d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://broker.mqtt-dashboard.com/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "901f52963d1f5224",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "7a7f655f8d954c68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d61c278a64c6fb7",
        "type": "ui_group",
        "name": "ui_text",
        "tab": "1044a2aa14f08d97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a7f655f8d954c68",
        "type": "ui_tab",
        "name": "Data jarak",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1044a2aa14f08d97",
        "type": "ui_tab",
        "name": "Data Inputan",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
